@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
}

:root{
    --bg-color: rgb(242, 251, 186);
    --text-color: black;
    --primary-color: #ffffff;
    --secondary-color: #000000;
    /* --primary-color: #965004;
    --secondary-color: #c78800; */
}

/* Header.css */

header {
    display: flex;
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px;
    background-color: var(--primary-color); /* Puedes personalizar el color de fondo según tus necesidades */

  }

  .inputBuscar{
    width: 270px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    border: none;
  }

  .Buttons {
    display: flex;
    justify-content: space-between; /* Distribuir los botones horizontalmente */
    gap: 12px;
  }

  .Buttons > .Contacto{
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;

  }

  .Buttons > .Carrito{
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;

  }

  .Buttons > .IniciarSesion{
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
  }

  .Buscador > .Lupa{
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
  }

  .Logo{
    position: absolute;
    top: 1%;
    left: 50%;
  }

  



